<a-entity position="-5 0 -5">

  {% for x in range(10) %}
    {% for y in range(10) %}
       <a-plane position="{{x}} {{y + 2}} 0"
                side="double"
                rotation="0 0 0"
                width="1"
                height="1" shadow>
         <a-animation attribute="color"
           direction="alternate-reverse"
           dur="{{(x + 1) * (y + 1) * 150}}"
           from="#FF0000"
           to="#0000FF"
           repeat="indefinite"></a-animation>
       </a-plane>
    {% endfor %}
  {% endfor %}
        
</a-entity>
