<!-- The Woods -->
<!-- can provide an attribute:  rotation="45 45 -45" -->
<a-entity position="0 0 -10">
  <a-tetrahedron mixin="house" rotation="35 -46 -46" radius="1.25" position="0 0.7 0" color="mediumseagreen" shadow></a-tetrahedron>
  <!-- NOTE for some reason, align doesn't work in a mixin -->
  <a-text mixin="title" value="TheWoods" align="center"></a-text>
  <a-text mixin="members" value="Dav Clark, Abdicated Facilitator xx" align="center"></a-text>
  <a-plane rotation="-90 0 0" width="11" height="4" color="#7BC8A4" shadow></a-plane>
</a-entity>
